html {
  font-size: 62.5%; /* font-size 1em = 10px */
  font-family: fredoka;
  background-color: rgb(248, 248, 248);
}
html,
body {
  margin: 0 auto;
  /*padding: 0;*/
  box-sizing: border-box;
  list-style: none;
  max-width: 600px;
}

/* First Section*/

.poza {
  display: flex;
}
.my_picture {
  border-radius: 20%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 200px;
  height: 150px;
  margin: 15px;
  padding: 0;
  filter: grayscale(85%);
}
.prm_flex {
  display: flex;
  flex-direction: column;
  margin: 10px;
  line-height: 0.8em;
  padding: 0;
}
.name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1px;
  padding: 0;
}
.same_ash1 {
  font-size: 25px;
  font-weight: bold;
  padding: 0;
}
.myp {
  font-size: 10 px;
  margin: 3px;
  padding: 0;
}
.material-icons-outlined {
  text-decoration: none;
  font-size: medium;
  vertical-align: bottom;
}
.contact_poza {
  font-size: medium;
  margin-top: 1em;
  text-decoration: none;
  color: black;
}
.contact_poza:hover {
  text-decoration: underline;
  color: aquamarine;
}

.about_me {
  display: flex;
  flex-direction: row;
  text-align: left;
  line-height: small;
}
.text_about {
  max-width: 75%;
  margin: auto;
}
.second_text {
  text-align: left;
  font-size: smaller;
}
.list li {
  list-style: none;
}
/* nu am reusit sa mut lista in partea stanga, pe linie cu Past experience*/
.container {
  display: flex;
  flex-direction: row;
}
.title_about_p {
  margin: 25px 35px;
}
.no_more {
  margin: 0 35px;
  padding-bottom: 10px;
}
.portfolio_about {
  margin: auto;
  font-size: small;
}
.portf {
  text-decoration: none;
  color: black;
}
.portf:hover {
  color: aquamarine;
}
.port_last_img {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgb(236, 235, 235);
  border-radius: 5%;
  background-color: white;
}
.chart {
  margin: auto;
  padding-left: 30px;
  padding-right: 15px;
}
.last_image_p {
  padding-top: 2em;

  border-top-right-radius: 15%;
  max-width: 100%;
}
/* Contact*/

.content-form {
  text-decoration: none;
  font-size: small;
  color: black;
  display: inline;
  font-size: medium;
}
.content-form-padd {
  padding-top: 20px;
}
.content-form:hover {
  color: aquamarine;
}
.contact-form {
  background-color: white;
}
.form {
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
}
.textarea {
  border: none;
  border-bottom: 1px solid gray;
}
input[type="text"],
[type="email"] {
  max-width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  text-align: center;
  margin: 30px;
  padding: 10px 0;
  display: inline;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

input:focus::placeholder {
  color: transparent;
}
.footer-media {
  margin-top: 20px;
  border-top: 1px solid gray;
}
#message {
  width: 90%;
  height: 150px;
  margin: 15px;
  border: none;
  border-bottom: 1px solid gray;
}
.lista-social {
  list-style: none;
}
.flex-social {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}
.secondflex-list {
  display: flex;
  flex-direction: row;
}
.social-items {
  padding: 1em;
  margin: 0.5em;
  border: 0.5px solid rgb(214, 211, 211);
  border-radius: 10px;
  box-sizing: content-box;
  width: 25%;
  text-align: center;
}
.social-items:hover {
  color: white;
  background-color: gray;
}
.portfolio-page-contact {
  align-items: center;
  text-decoration: none;
  color: black;
}

/* Portfolio*/

.header-portfolio {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  padding-top: 10px;
}

.second-section-portfolio {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgb(236, 235, 235);
  border-radius: 5%;
  background-color: white;
}
.first-flex-portfolio {
  margin: auto;
  padding-left: 30px;
}
.assets-portfolio-image {
  padding-top: 2em;
  border-top-right-radius: 15%;
  max-width: 100%;
}
.portfolio-page-contact:hover {
  color: aquamarine;
}
.portfolio-projects {
  text-decoration: none;
  color: black;
}
.portfolio-projects:hover {
  color: aquamarine;
}
.last-section-portfolio {
  display: flex;
  justify-content: space-around;
  border-radius: 5%;
  margin-top: 15px;
}
.portfolio-lastsection {
  margin-right: 10px;
  border: 1px solid rgb(236, 235, 235);
  border-radius: 5%;
  background-color: white;
}
.fasttrack-photo {
  padding-top: 2em;
  border-top-right-radius: 15%;
  max-width: 100%;
}
.portfolio-secondlastsection {
  border: 1px solid rgb(236, 235, 235);
  border-radius: 5%;
  background-color: white;
}
.crypto-photo {
  padding-top: 2em;
  border-top-right-radius: 15%;
  max-width: 100%;
}
.paragraph-last {
  margin-left: 5px;
}
.portfolio-gata {
  border: 1px solid rgb(236, 235, 235);
  border-radius: 5%;
  background-color: white;
}
.portfolio-gata2 {
  border: 1px solid rgb(236, 235, 235);
  border-radius: 5%;
  background-color: white;
  margin-right: 1.5em;
  padding-right: 0;
}
